/go-cqhttp/
/UDDigiKyokashoN-B.ttc
/test.py
/Pinebot_main/util/geckodriver.log
/Pinebot_main/util/chromedriver.exe
/Pinebot_main/json/
/Pinebot_main/VITS_Paimon/colab.ipynb
/Pinebot_main/VITS_Paimon/inference.ipynb
/Pinebot_main/plugins/__pycache__
